:root{
    --color-scrollbar: #d3d3d4;
    --color-background-scrollbar: #eee;
}

/*Scroll chrome
para el scroll de la seccion principal*/

.contenido__pagina::-webkit-scrollbar{
    width: 25px;
    background-color: transparent;
}

.contenido__pagina::-webkit-scrollbar-thumb{
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}

.contenido__pagina:hover::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 0 10px var(--color-scrollbar); 
}

.contenido__pagina::-webkit-scrollbar-track{
    background-color: transparent;
    margin: 40px 0;
}

.contenido__pagina:hover::-webkit-scrollbar-thumb:hover{
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px var(--color-secondary); 
}

/*Scroll Mozila
.contenido__pagina{
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
    
}

.layout aside{
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) var(--color-primary);
    
}

para el scroll de la seccion derecha*/

.layout__aside::-webkit-scrollbar{
    width: 25px;
    background-color: var(--color-secondary);
}

.layout__aside::-webkit-scrollbar-thumb{
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}

.layout__aside:hover::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 0 10px var(--color-principal); 
}

.layout__aside::-webkit-scrollbar-track{
    background-color: transparent;
    margin: 40px 0;
}

.layout__aside:hover::-webkit-scrollbar-thumb:hover{
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px var(--color-principal); 
}